[submodule "vendor/gguf2mlx"]
	path = vendor/gguf2mlx
	url = git@github.com:Deviad/gguf2mlx.git
	branch = feature/update_for_glm5.2_cooking
[submodule "vendor/llama.cpp"]
	path = vendor/llama.cpp
	url = git@github.com:Deviad/llama.cpp.git
	branch = feature/patch_used_to_create_mixed_quantization_of_glm5.2
[submodule "vendor/mlx-lm"]
	path = vendor/mlx-lm
	url = https://github.com/ml-explore/mlx-lm.git

[submodule "vendor/jangq"]
	path = vendor/jangq
	url = https://github.com/jjang-ai/jangq.git
	branch = main
[submodule "vendor/vmlx"]
	path = vendor/vmlx
	url = git@github.com:Deviad/vmlx.git
	branch = feature/mla-prefix-cache-fix
